<div class="container mx-auto">
    <div class="my-10">
        <h1 class="uppercase font-bold text-3xl ">New Account</h1>
    </div>
    <div class="my-10">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="my-2 grid grid-cols-3 gap-4">
                <div class="col-span-1">
                    <label for="name" class="block text-sm font-medium text-gray-600">Name</label>
                    <input type="text" id="name" name="name" formControlName="name"
                        [(ngModel)]="account.name" class="mt-1 p-2 w-full border rounded">
                    <div class="text-red-600"
                        *ngIf="myForm.get('name')?.hasError('required') && myForm.get('name')?.touched">
                        Username is required.
                    </div>
                </div>
                <div class="col-span-1">
                    <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
                    <input type="email" formControlName="email" id="email" name="expense" [(ngModel)]="account.email"
                        class="mt-1 p-2 w-full border rounded">
                    <div class="text-red-600"
                        *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched">
                        Email is required.
                    </div>
                    <div class="text-red-600"
                        *ngIf="myForm.get('email')?.hasError('email') && myForm.get('email')?.touched">
                        Please enter a valid email address.
                    </div>
                </div>
            </div>
            <div class="my-5 grid grid-cols-3 gap-4">
                <div class="col-span-1">
                    <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
                    <input type="password" id="password" formControlName="password" name="password"
                        [(ngModel)]="account.password" class="mt-1 p-2 w-full border rounded">
                    <div class="text-red-600"
                        *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
                        Password is required.
                    </div>
                    <div *ngIf="myForm.get('password')?.hasError('minlength') && myForm.get('password')?.touched">
                        least 6 characters long.
                      </div>
                </div>
                <div class="col-span-1">
                    <label for="address" class="block text-sm font-medium text-gray-600">Address City</label>
                    <input type="text" id="address" name="address" formControlName="address"
                        [(ngModel)]="account.address" class="mt-1 p-2 w-full border rounded">
                    <div class="text-red-600"
                        *ngIf="myForm.get('address')?.hasError('required') && myForm.get('address')?.touched">
                        Address is required.
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <label for="image_url" class="block text-sm font-medium text-gray-600">Image URL</label>
                <input type="text" id="image_url" name="image_url" formControlName="image_url"
                    [(ngModel)]="account.image_url" class="mt-1 p-2 w-full border rounded">
                <div class="text-red-600"
                    *ngIf="myForm.get('image_url')?.hasError('required') && myForm.get('image_url')?.touched">
                    Image is required.
                </div>
            </div>
            <button type="submit">
                <a
                    class="rounded relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-blue-600 active:shadow-none shadow-lg bg-gradient-to-tr from-blue-600 to-blue-500 border-blue-700 text-white">
                    <span
                        class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
                    <span class="relative">Create Account</span>
                </a>
            </button>
        </form>
    </div>