<div class="container mx-auto">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so be
                    careful what you share.</p>
            </div>
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="image_url" class="block text-sm font-medium leading-6 text-gray-900">Avatar</label>
                        <div class="mt-2">
                            <input type="text" formControlName="image_url" [value]="account.image_url" name="image_url" [(ngModel)]="account.image_url" id="image_url" autocomplete="given-name"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="my-2">
                            <img [src]="account.image_url" [alt]="account.name" class="w-[120px] h-[120px]">
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Full
                            Name</label>
                        <div class="mt-2">
                            <input type="text" formControlName="name" [value]="account.name" name="name" [(ngModel)]="account.name" id="name" autocomplete="given-name"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 px-2 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="sm:col-span-4">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                            Address</label>
                        <div class="mt-2">
                            <input id="email" formControlName="email" [value]="account.email" [(ngModel)]="account.email" name="email" type="email" autocomplete="email"
                                class="block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="sm:col-span-3 my-4">
                            <label for="status" class="block text-sm font-medium leading-6 text-gray-900">Status</label>
                            <div class="mt-2">
                                <select id="status" formControlName="status" [value]="account.status" [(ngModel)]="account.status" name="status" autocomplete="status"
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:max-w-xs sm:text-sm sm:leading-6">
                                    <option>Busy</option>
                                    <option>Ready</option>
                                    <option>Working</option>
                                    <option>Off</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label for="department" class="block text-sm font-medium leading-6 text-gray-900">Department</label>
                        <div class="mt-2">
                            <select id="department" formControlName="department" [value]="account.department" [(ngModel)]="account.department" name="department" autocomplete="department"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                <option>HR</option>
                                <option>IT</option>
                                <option>Marketing</option>
                                <option>Finance</option>
                                <option>Sales</option>
                                <option>Production</option>
                                <option>Logistics</option>
                                <option>Security</option>
                                <option>Tester</option>
                                <option>R&D</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-4">
                        <label for="role" class="block text-sm font-medium leading-6 text-gray-900">Role</label>
                        <div class="mt-2">
                            <select id="role" formControlName="role" [value]="account.role" [(ngModel)]="account.role" name="role" autocomplete="role"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-400 sm:max-w-xs sm:text-sm sm:leading-6">
                                <option>Leader</option>
                                <option>Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-span-full">
                        <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Street
                            address</label>
                        <div class="mt-2">
                            <input type="text" formControlName="address" [value]="account.address" [(ngModel)]="account.address" name="address" id="address" autocomplete="street-address"
                                class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900"></button>
            <button type="submit"
                >
                <a
                class="rounded relative inline-flex group items-center justify-center px-3.5 py-1.5 m-1 cursor-pointer border-b-4 border-l-2 active:border-green-600 active:shadow-none shadow-lg bg-gradient-to-tr from-green-600 to-green-500 border-green-700 text-white">
                <span
                    class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-22 group-hover:h-22 opacity-40"></span>
                <span class="relative font-bold">Save</span>
            </a></button>
        </div>
    </form>
</div>